
body
{
    background-color: #111111;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}
header
{
    background-color: #262626;
    border-bottom: 2px solid #434343;
    width: 100vw;
}

section
{

    background-color: #262626;
    width: 100vw;
}
.section-title,.navbar-brand:hover
{
    font-family: "Lobster", cursive;
    font-size: 2em;
    color: #ef4b62;
}


.navbar-brand img
{
    height: 100px;
} .nav-link
{
    font-size: 1.2em;
    color: #ef4b62;
    margin: 10px;
    text-align: center;
    
}
.nav-link:hover{
    background-color: #434343;
    color: #fff;
    font-weight: 800;
}
.nav .nav-link.active
{
    background-color: #ef4b62;
    color: #fff;
}
.navbar-toggler
{
    background-color: #ef4b62;
}
.carousel-item img
{
max-width: 100vw;
}
.carousel button 
{
    padding: 5px;
}

#skills img
{
    margin: 25px 50px;
}
.btn
{
    background-color: #ef4b62;
    color: #fff;
    border-radius: 20%;
    margin-top: 15px;
   font-size: 1em;
   padding: 5px;
   font-weight: 800;
}
.btn:hover
{
    background-color: #fff;
    color:#262626; 
}
.form-label
{
    margin: 5px 0 ;
}
.form-control
{
    background-color: #262626;
    border: 2px solid #fff;
    padding: 5px;
    margin: 5px 0;
 
}
textarea.form-control
{
    resize: none;
    height: 20vh;
}
.form-control:focus
{
    background-color: #434343;
    color: #fff;
}
.form-control::placeholder
{
    color: #fff;
}
.social-links li, .tools li
{
    list-style: none;
    display: inline;
}
.social-links a, .tools a{
    text-decoration: none;
}

#skills .col-md-4{
   
    display: flex;
    flex-direction: column;
    align-items: center;
      
  }

@media screen and (max-width:767px){

.navbar-brand img
{
    height: 50px;
    padding: 5px;
    
}
.image-viewport
{
    display: flex;
    justify-content: center;
}
.text-viewport
{
    test
   text-align: center;
   margin: 5px;
}
}

@media screen and (min-width:768px){
    .image-viewport
    {
      display: flex;
      align-items: center;
      justify-content: center;
    }
   

}